<main>
    <!-- <section class="banner-container">
        <div class="banner-overlay"></div>

        <img class="banner-image" src="images/banner.png" alt="Built for the journey">

        <div class="banner-content">
            <h1>BUILT FOR THE JOURNEY</h1>
            <button routerLink="/products" class="shop-btn">SHOP NOW</button>
            <i (click)="scrollTo('arrivals')" class="fa-solid fa-arrow-down animate-bounce"></i>
        </div>
    </section> -->

    <section class="premium-banner">
    <div class="container">
        <div class="content-box">
            <span class="collection-label">2026 EXCLUSIVE DROP</span>
            <h1 class="main-title">APEX <br> <span class="gold-text">VOYAGER</span></h1>
            <p class="description">
                Experience the perfect fusion of tactical utility and high-end aesthetics. 
                Engineered for those who lead the way.
            </p>
            
            <div class="cta-wrapper">
                <button class="shop-btn" routerLink="/products">
                    SHOP COLLECTION
                    <i class="fa-solid fa-arrow-right-long"></i>
                </button>
            </div>
        </div>

        <div class="image-box">
            <div class="glow-bg"></div>
            <img src="/images/APEX_Voyager.png" alt="Apex Backpack" class="main-image">
        </div>
    </div>

    <div class="side-text">APEX_EQUIPMENT_CO</div>
</section>
    <section class="arrivals-container" id="arrivals">
        <div class="new-arrivals">
            <h2 data-aos="fade-right">NEW ARRIVALS</h2>
            <button routerLink="/products" data-aos="fade-right" class="shop-btn">SHOP NOW</button>
        </div>

        <div class="product">
            <img src="/images/ad-backpack.png" alt="">
        </div>
    </section>

    <section class="topics">
        <div class="backPacks" routerLink="/products" [queryParams]="{ category: 'Backpacks' }">
            <img src="/images/backpack-topic.png" alt="Backpacks">
            <div class="overlay-container">
                <h2>BACKPACKS</h2>
            </div>
        </div>

        <div class="duffleBags" routerLink="/products" [queryParams]="{ category: 'Duffel Bags' }">
            <img src="/images/duffelbag-topic.png" alt="Duffle Bags">
            <div class="overlay-container">
                <h2>DUFFLE BAGS</h2>
            </div>
        </div>

        <div class="travelPacks" routerLink="/products" [queryParams]="{ category: 'Travel Packs' }">
            <img src="/images/travelpack-topic.png" alt="Travel Packs">
            <div class="overlay-container">
                <h2>TRAVEL PACKS</h2>
            </div>
        </div>
    </section>

    <section class="sale-container">
        <div class="sale-header">
            <h2>NOW ON SALE</h2>
            <p>UP TO 50% OFF</p>
        </div>

        <div class="bags-container">
            @for (product of saleProducts; track $index) {
            <div class="bag-card" [attr.data-aos]="'fade-right'" [attr.data-aos-delay]="$index * 100">
                <img [routerLink]="['/product', product.id]" [src]="product.image" [alt]="product.name">

                <h3>{{product.name}}</h3>
                <div class="price">
                    <span class="old-price">${{product.price}}</span>
                    <span class="new-price">${{product.salePrice}}</span>
                </div>
                <div class="overlay-container">
                    <button class="details-btn" [routerLink]="['/product', product.id]">Details</button>
                </div>
            </div>
            }
        </div>
    </section>

    <section class="about-container" id="about">
        <article class="about-description">
            <div class="about-note" data-aos="fade-up-right" data-aos-duration="500">
                <h2>ABOUT ME</h2>
                <p>
                   Hey! I'm Sandro, a Full-Stack Developer focused on building high-performance web applications. I specialize in Angular and .NET, creating seamless digital environments where clean logic meets premium design.

My goal is simple: to engineer fast, secure, and responsive websites that provide an elite user experience. From database architecture to pixel-perfect front-end layouts, I turn complex ideas into robust reality.
                </p>
            </div>
        </article>

        <article class="about-photo-container">
            <img src="/images/coding-picture.png" alt="">
        </article>
    </section>

    <section class="contact-container" id="contact">
        <div class="contact-form">
            <form action="">
                <input type="text" placeholder="Full Name *" required>
                <input type="email" placeholder="Email *" required>
                <input type="text" placeholder="Subject">
                <textarea placeholder="Message *" required></textarea>
                <button type="submit">Send</button>
            </form>

            <div class="contact-info">
                <h2>Contact</h2>
                <p class="contact-text">
                    We'd love to hear from you.<br><br>

                    Whether you have a question,<br>
                    want to discuss a project,<br>
                    or are ready to start something new — <strong>drop us a line</strong>.<br><br>

                    We reply to every message personally,<br>
                    usually within a few hours.
                </p>
            </div>
        </div>
    </section>
</main>